*{
    margin:0;padding: 0;box-sizing:border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    background-image: url(./cut.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header{
    order: -1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:18vh;
   
     
}
h1{
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px ;
    border-style:solid; 
    background-color: rgba(0, 0, 0, 0.596);
    color: yellow;
    border-color: rgba(211, 211, 29, 0.836);
    padding: 1rem;
    
}
nav{
    order: -2;
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    justify-content: space-around;
    height: 5vh;
    margin-top: 0vh;
    
    
}
nav a{
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    border-color: rgba(211, 211, 29, 0.836);
    color: yellow;;
    padding: .3rem 2rem;
    border-radius: .25rem;
    font-weight: bold;
    transition: box-shadow .4s .1s, flex-grow .6s;
}
nav a:hover{
    color: black;
    background-color: yellow;
    box-shadow:0px 0px 20px 0px gold;
    border-color: black;
    flex-grow: .1;
   
}

a[href="#"]{
    
    text-decoration-thickness: 20%;
    background-color: rgba(0, 0, 0, 0.596);
    text-align: center;
    

} 
a[href="about.html"],a[href="contact.html"],
a[href="index.html"],a[href="rule.html"],a[href="gameinfo.html"],
a[href="registration.html"]{
     
     text-decoration: none;
     background-color: rgba(0, 0, 0, 0.596);
     
 }
.logo{
    display: flex;
    align-self: flex-start;
    margin-top: -18vh;
    
    border-style: solid;
    border-color: rgba(211, 211, 29, 0.836) ;
    padding: .4rem;
    height:18vh;
    background-color: rgba(0, 0, 0, 0.596);;
    width:15%;
}
h2.events{
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    width: 40vw;
    height: 10vh;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.596);;
    color: yellow;
    border-color: rgba(211, 211, 29, 0.836);
    border-style: solid;
    text-align: center;
    
}

.article{
    order: 3;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    flex-wrap: wrap; 
    width: 80%;
    height: 50vh;
    border: solid;
    border-color: rgba(211, 211, 29, 0.836);
    font-family: 'Bebas Neue', cursive;
    margin-top: 5vh;
    margin-left: 10vw;
    
}
.article-index{
    gap: 1rem;
    order: 3;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    border: solid;
    border-color: rgba(211, 211, 29, 0.836);
    font-family: 'Bebas Neue', cursive;
    margin-top: 5vh;
    margin-left: 10vw;
}
main{
    width: 100%;
}
/*CONTACT*/
.article-contact{
    order: 3;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 50vh;
    border: solid;
    border-color: rgba(211, 211, 29, 0.836);
    font-family: 'Bebas Neue', cursive;
    margin-top: 5vh;
    margin-left: 10vw;
}
h3.titulo-contact{
    margin-left: 50vh;
}
/*ABOUT*/
.div1,.div2{
    width: 50%;
}

.div3{
    width: 100%;
}
.div1 h2,.div2 h2,.div3 h2{
    width: fit-content;
    background-color: yellow;   
    border: 1px solid;
}
/*LISTA*/
h3.titulo{
    padding: .2rem;
    background-color:yellow;
    text-align: center;
    margin-left: 15vw;
    color: black;
    border: 1px solid;


}
section.lista-titulo{
    order: 3;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100vh;
    padding: 1rem;
    border: solid;
    border-color: rgba(211, 211, 29, 0.836);
    color: yellow;
    font-family: 'Bebas Neue', cursive;
    margin-top: 5vh;
    margin-left: 10vw;
}
ul{
    margin-left: 5vw;
}
dd{
    text-indent: 1rem;
}
li{
    margin-left: 1.5vw;
}

h3{ 
    background-color: yellow;
    text-align: center;
    width:fit-content;
    color: black;
    border: 1px solid;
    font-size: 30px;
    margin-left: 44%;   
 }
h4{
     font-size: large;
     margin-bottom: 1.5vh;
     margin-top: 1.5vh;
     color: black;
     background-color: yellow;
     width:fit-content;
     border: 1px solid;
     padding: .2rem;
 }

 dt{
     font-weight: bold;
     font-size: large;
     margin-bottom: 1.5vh;
     margin-top: 1.5vh;
     color: black;
     background-color: yellow;
     width:fit-content;
     border: 1px solid;
     padding: .2rem;
 }
 /*GENERAL*/
 p{ 
     font-size: 20px;
     text-align: center;
     color: yellow;
     
}
/*Game Info*/
.tabla{
    order: 3;
    background-color: rgba(0, 0, 0, 0.596);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    padding: 1rem;
    border: solid;
    border-color: rgba(211, 211, 29, 0.836);
    font-family: 'Bebas Neue', cursive;
    margin-top: 5vh;
    margin-left: 10vw;
}

.subtitulo{
text-align: start;
font-size: small;
}
table.tabla1,td,tr{
    
    font-size: large;
    width: 70vw;
    margin-bottom: 2rem;
}

thead{
    text-align: left;   
    color: yellow;
}
tbody{
    color: yellow;
    text-align: left;
}

tfoot{
width: 100%;
}
thead.head2,tbody.body2,table.tabla2,.email2,.head3{
    background-color: initial;
    text-align: left;
    border: 0;
}
strong{
    color: black;
}
.parrafo,.parrafo2{
    text-align: left;
}

/*Registro*/
fieldset{
    border: none;
    padding: .6vh;
}
p.form{
    color: yellow;
    font-family: 'Bebas Neue', cursive;
    font-size:medium;
    text-align: left;
}
form{
    font-family: 'Bebas Neue', cursive;
    color: yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    height: 110vh;
    margin-left: 20vw;
    background-color: rgba(0, 0, 0, 0.596);
    border: solid;
    border-color: rgba(211, 211, 29, 0.836);

}
#submit{
    background-color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: yellow;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
    
#submit:hover {
    border: 1px solid;
    border-color: black;
    color: black;
    background:yellow
    
}
input[type='text']{
    background-color: black;
    color: yellow;
}


input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    border-radius: 2%;
    background: white;
    outline: 1px solid rgb(204, 204, 204);
    border: 1px solid white;
    width: .8vw;
    height: 1.6vh;
  }
  
input[type='radio']:checked {
    background: black;
  }
#numbers1,#numbers2,#numbers3,#numbers4,#numbers5{
    font-size: smaller;
}

footer{
    order: 10;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
 }
